
@charset "utf-8";

* {

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

}

html {

  width: 100%;

  height: 100%;

  margin: 0px;

  padding: 0px;

  -webkit-text-size-adjust: 100%;

  font-family: "PingFang-SC-Medium","PingFang", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  font-size: 13.33333333vw;

  background: transparent;

}

body {
  padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
  width: 100%;

  height: 100%;

  -webkit-overflow-scrolling: touch;
  padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
sumary {

  margin: 0;

  padding: 0;

}

input,
select,
textarea {

  border: 0;

  -webkit-appearance: none;

  appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;

}
input[disabled] {
  background:none
}
ol,
ul {

  list-style: none;

}


*:not(input, select, textArea) {

  -webkit-user-select: none;

}


img,
a {

  -webkit-touch-callout: none;

}

a,
a:active,
a:hover {

  text-decoration: none;

}


a,
button,
input,
textarea {

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

.linear-button {
  background: linear-gradient(-30deg,
      #376bff 0%,
      #409afe 100%),
    linear-gradient(#4fb7ff,
      #4fb7ff);
  background-blend-mode: normal,
    normal;
}

.pintuan-btn {
  border-color:#2fa0ff !important;
  background-image: linear-gradient(90deg, 
  #2fa0ff 0%, 
  #247cff 100%), 
linear-gradient(
  #cc3d3d, 
  #cc3d3d) !important;
}

.fixed {
  position: fixed !important;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 999 !important;
}

.fixed-top {
  margin-top: 50px;
}

.van-nav-bar__left,
.van-nav-bar .van-nav-bar__arrow {
  font-size: 24px;
  color: #333
}

.van-nav-bar .van-icon {
  color: #333 !important
}

.payshow__choice--card {
  display: flex;
  align-items: center
}

.payshow__choice--name {
  flex-basis: 80px;
  text-align: center;
  font-size: 14px
}

.item-after {
  position: relative;
  padding-top: 10px;

}

.item-after::after {
  content: '';
  display: block;
  height: 10px;
  background: #f5f5f5;
  position: absolute;
  width: 100%;
  top: 0
}

.dp-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
  overflow: hidden;
}

.red {
  color: #ff4649
}

.blue {
  color: #409afe
}

.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  font-size: .24rem;
}

.layout-child {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
}

.layout-scorll {
  flex: 1;
  overflow-y: auto;
  
}

.layout-pd {
  padding: 3%;
  box-sizing: border-box;
  background: #f2f5f7;
}

.van-list__finished-text {
  width: 100%;

}

.detail-news {
  width: 100%;
}

/* 分割线 */
.cut{
  transform: scaleX(.5);
  border-left: solid 1px #666666;
  opacity: 0.2;
}
/* 线 */
.linellae{
  height: 1px;
  background: #666;
  opacity: .1;
  transform: scaleY(.5);
}
/* 列表没内容显示用的 */
.default{
  padding-top: 1rem;
  text-align: center;
}
.default .title{
  padding-top: .4rem;
  font-size: .28rem;
  color: #666666;
}
.default .label{
  padding-top: .3rem;
  font-size: .24rem;
  color: #999999;
}
.default .btn{
  padding-top: .4rem;
}
.default .btn span{
  padding: .15rem .4rem;
  font-size: .28rem;
  color: #3b61e6;
  display: inline-block;
  border-radius: 32px;
	border: solid 1px #3b61e6;
}
.van-nav-bar .van-icon {
  font-size: .5rem!important;
}
.mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.po-ref {
  position: relative;
  padding-right:40px;
  
}
.proof {
  width: auto;
  position: absolute;
  right: 0;
  background: #fff;
  z-index: 99;
 display: flex;
 align-items: center;
  
}
.proof-line{
  width: 15px;
  height: 5px;
  display: block;
  margin-bottom: 4px;
}
.proof-grey {
  background: #eee;
}
.proof-light {
  background: #70bde9;
}
img {
    max-width: 100%;
}
/**** 2020-07-06 ****/

/* .trbg {
  background: transparent!important;
}
.trbg::after {
  border: none!important;
}
.trbg .van-nav-bar__title {
  color: #fff;
  font-size: .42rem;
}
.trbg .van-icon{
  color: #fff!important;
} */
input::-webkit-input-placeholder { 
  /* WebKit browsers */ 
  color: #abb7c8; 
  } 
  input:-moz-placeholder { 
  /* Mozilla Firefox 4 to 18 */ 
  color: #abb7c8; 
  } 
  input::-moz-placeholder { 
  /* Mozilla Firefox 19+ */ 
  color: #abb7c8; 
  } 
  input:-ms-input-placeholder { 
  /* Internet Explorer 10+ */ 
  color: #abb7c8; 
  }
 
  